@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
html {
    transform: scale(0.9.9); /* Default zoom level set to 90% ie 0.75 is 75%*/
    transform-origin: 0 0;
  }
  

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    /*background-color: #e1b382;*/
    background-color: #e2e6e7 ;
    margin-right: 2px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    /*border-color: #2d545e;*/
    border-color: #0F2027;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
  background-color: #d0b49f;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: 35px;
}
.navbar{
  background-color: #e2e6e7 ;/*#e2e6e7 */
  color: #201a1e;
}

.background {
    background-color: #ffffff; /*#e4d4c8*/
    color: #201a1e;
    
}
@keyframes button {
  0%{background-color: #ff9e2f;}
  25%{background-color: rgb(255, 206, 99);}
  50%{background-color: rgb(238, 148, 148);}
  100%{background-color: rgb(224, 216, 216);}
}
@keyframes icon {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.btn{
  background-color: #e2e6e7  ; /*#d0b49f*/
  color: #201a1e ;
}
.btn:hover {
  background-color: #e2e6e7 ;
  color: #201a1e ;
  animation-name: button;
  animation-duration: 3s;
  animation-iteration-count:2;
}
.btn:hover svg{
  animation-name: icon;
  animation-duration: 3s;
  animation-iteration-count:2;
}
.btn:hover p{
  font-size: large;
  font-weight:bolder;
  font-family: sans-serif;
}
.card{
  background-color: #d0b49f;
  color: #201a1e ;
  padding: 2px;
  margin-top: 2px;
}
.theme1 {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cards {
    border-color: #e1b382;
    border-width: 1px;
    color:#2d545e;
    border-style: solid;
}
.cards-label{
    font-weight: bold;
    font-style: 'Courier New', Courier, monospace;
    color: #e1b382 ;
}

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  .horizontal-scroll-container .card {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  input{
    background-color: rgb(202, 200, 200);
    margin-bottom:2px;
  }
  
  textarea{
    background-color: rgb(202, 200, 200);
    margin-bottom:2px;
  }

  label{
    display: flex;
    flex-direction: column;
    padding: 4px;
  }
  .tab{
    border-bottom: solid;
    border-bottom-color: #ee8a18;
    border-bottom-width: 4px;
  }