@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: #e1b382;
    margin-right: 2px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #2d545e;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: /*#2d545e*/ rgb(7, 168, 160);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #2d545e;
}

.background{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}